{% include "@home-hero--bg" with hero %}
<div class="page-section page-section-ut_image_with_text">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="editor-content">
        <figure role="group" class="align-left">
          <img alt="Image description lorem ipsum dolor sit amet" src="{{ "/img/Home_Embedded_1.jpg"|path }}">
          <figcaption>Image description lorem ipsum dolor sit amet</figcaption>
        </figure>
        <h2>Text With an Image - Left Aligned</h2>
        <p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet lectus. Vestibulum auctor varius tortor, sit amet rutrum mauris cursus vel. Quisque ac dapibus nunc. Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Ut at ipsum sapien. Sed arcu sapien, malesuada ut lorem id, imperdiet dignissim ex. Vivamus quam arcu, auctor sit amet nulla quis, auctor pharetra erat. Integer eu tempus turpis, et ultrices.</p>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@feature" with feature1 %}
    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@feature" with feature2 %}
    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@feature--bg" with feature3 %}
    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@feature--bg" with feature4 %}
    </div>
  </div>
</div>
<div class="page-section page-section-ut_image_with_text">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="editor-content">
        <figure role="group" class="align-left">
          <img alt="Image description lorem ipsum dolor sit amet" src="{{ "/img/Home_Embedded_1.jpg"|path }}">
          <figcaption>Image description lorem ipsum dolor sit amet</figcaption>
        </figure>
        <h2>Text With an Image - Left Aligned</h2>
        <p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet lectus. Vestibulum auctor varius tortor, sit amet rutrum mauris cursus vel. Quisque ac dapibus nunc. Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Ut at ipsum sapien. Sed arcu sapien, malesuada ut lorem id, imperdiet dignissim ex. Vivamus quam arcu, auctor sit amet nulla quis, auctor pharetra erat. Integer eu tempus turpis, et ultrices.</p>
      </div>
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_related_stories">
  <div class="max-bound">
    <div class="outer-pad">
      <h2>Recent News/Featured</h2>
      {% include "@card--hz" with recentNews %}
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_stat_group">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@stat-group--dark" with statGroup1 %}
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_events">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@events" with events1 %}
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_blockquote">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@blockquote" with blockquote1 %}
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_carousel">
  <div class="max-bound">
    <div class="outer-pad">
      {% include "@carousel" with carousel1 %}
    </div>
  </div>
</div>
