.section.section-ut_card_group,
.section.section-ut_news {
  margin: 0 0 rem(20);
  @include media-breakpoint-up(800) {
    margin: rem(10) 0 rem(30);
  }
  .page-content & {
    @include media-breakpoint-down(799) {
      margin-right: rem(-24);
      margin-left: rem(-24);
    }
  }
}

.page-section.page-section-ut_card_group,
.page-section.page-section-ut_news {
  > .max-bound > .outer-pad {
    @include media-breakpoint-down(799) {
      padding: rem(4) 0 0;
    }
    @include media-breakpoint-up(800) {
      padding-top: rem(44);
      padding-bottom: rem(54);
    }
  }
}

.card-group-bg {
  background: $white;
  padding: rem(70) rem(44);
  position: relative;
  @include media-breakpoint-up(800) {
    padding: rem(50) rem(30) rem(30);
  }
  &-dark {
    background-color: $gray-900;
    color: $white;
    .card {
      @extend %card-dark;
    }
    .card-group-cta {
      color: $yellow;
      &:hover {
        border-color: $yellow;
        color: $yellow;
      }
    }
  }
}

.card-group {
  display: block;
  @include media-breakpoint-up(800) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: rem(-25);
  }
  .card {
    &[role="link"] {
      &:hover {
        @include media-breakpoint-down(799) {
          transform: scale(1);
        }
      }
    }
  }
}

.card-wrap {
  display: flex;
  margin-bottom: rem(25);
  width: 100%;
  @include media-breakpoint-up(800) {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: rem(25);
  }
  @include media-breakpoint-up(1200) {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
  &:nth-child(3n+1):nth-last-child(2),
  &:nth-child(3n+2):last-child {
    @include media-breakpoint-up(800) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .card {
    flex: 1;
  }
}

.card-group-cta.fancy-link {
  @include media-breakpoint-down(799) {
    display: inline-block;
    margin-right: 0;
  }
  .card-group + .text-center & {
    @include media-breakpoint-down(799) {
      margin-top: rem(48);
    }
  }
}

/* 
 * Bad Overwrite
 * Should only be used as a temporary stopgap until a better solution is implemented
*/

.page-section-ut_stat_group + .page-section-ut_news .outer-pad {
  padding-top: 0 !important;
}

.page-section-ut_stat_group + .page-section-ut_news .outer-pad > .card-group-bg {
  padding-top: 0 !important;
}
