{#
/**
 * @file
 * Displays global social links.
 *
 */
#}

<ul>
	{% if umd_terp_twitter_link %}
		<li>
			<a href="{{ umd_terp_twitter_link }}" target="_blank">
				<span class="sr-only">Visit our Twitter</span>
				<span class="icon icon-twitter" aria-hidden="true"></span>
			</a>
		</li>
	{% endif %}
	{% if umd_terp_facebook_link %}
		<li>
			<a href="{{ umd_terp_facebook_link }}" target="_blank">
				<span class="sr-only">Visit our Facebook</span>
				<span class="icon icon-facebook" aria-hidden="true"></span>
			</a>
		</li>
	{% endif %}
	{% if umd_terp_instagram_link %}
		<li>
			<a href="{{ umd_terp_instagram_link }}" target="_blank">
				<span class="sr-only">Visit our Instagram</span>
				<span class="icon icon-instagram" aria-hidden="true"></span>
			</a>
		</li>
	{% endif %}
	{% if umd_terp_youtube_link %}
		<li>
			<a href="{{ umd_terp_youtube_link }}" target="_blank">
				<span class="sr-only">Visit our Youtube</span>
				<span class="icon icon-youtube" aria-hidden="true"></span>
			</a>
		</li>
	{% endif %}
</ul>
