.article-hero {
  background-color: $gray-100;
  padding: rem(42) 0;

  @include media-breakpoint-up(800) {
    padding: rem(64) 0;
  }

  @include media-breakpoint-up(1200) {
    padding: rem(100) 0 rem(72);
  }

  &__event {
    h1 {
      margin-bottom: 8px;
    }
  }
}

.article-byline {
  color: $gray-700;
  font-size: rem(16);

  >*:not(:last-child) {
    &:after {
      content: "•";
      color: $red;
      display: inline-block;
      margin: 0 rem(4) 0 rem(6);
    }
  }

  &+.section {
    margin-top: rem(45);

    &.section-ut_image {
      margin-top: rem(30);

      @include media-breakpoint-up(800) {
        margin-top: rem(5);
      }
    }
  }

  a {
    color: inherit;
    font-weight: 700;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.article-author {
  color: inherit;
  font-weight: 700;

  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

.article-categories {
  border-top: 1px solid #EDEDED;
  padding-top: rem(42);
}
