@import "variables";

.section-ut_table {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  margin-bottom: 0;
  width: 100%;
  empty-cells: show;
  thead {
    background-color: #767676;
    color: $white;
    text-align: center;
  }
  th {
    font-size: rem(18);
    &:first-child {
      border-left: 1px solid #767676;
    }
    &:last-child {
      border-right: 1px solid #767676;
    }
    &:not(:last-child) {
      border-right: 1px solid $gray-300;
    }
  }
  td {
    font-size: rem(17);
    @include media-breakpoint-up($table-media-query-up) {
      border-right: 1px solid $gray-300;
    }
    &:first-child {
      @include media-breakpoint-up($table-media-query-up) {
        border-left: 1px solid $gray-300;
      }
    }
  }
  tbody {
    tr {
      &:last-child {
        td {
          @include media-breakpoint-up($table-media-query-up) {
            border-bottom: 1px solid $gray-300;
          }
        }
      }
    }
  }
  &.table-dark {
    thead {
      background-color: $yellow;
      color: $black;
    }
    th {
      border-color: $black;
    }
    th {
      font-size: rem(18);
      &:first-child {
        @include media-breakpoint-up($table-media-query-up) {
          border-left: 1px solid $yellow;
        }
      }
      &:last-child {
        @include media-breakpoint-up($table-media-query-up) {
          border-right: 1px solid $yellow;
        }
      }
      &:not(:last-child) {
        @include media-breakpoint-up($table-media-query-up) {
          border-right: 1px solid $black;
        }
      }
    }
    td {
      font-size: rem(17);
      @include media-breakpoint-up($table-media-query-up) {
        border-right: 1px solid $gray-500;
      }
      &:first-child {
        @include media-breakpoint-up($table-media-query-up) {
          border-left: 1px solid $gray-500;
        }
      }
      a {
        color: $yellow;
        &:hover,
        &:focus {
          border-bottom-color: $yellow;
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          td {
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
  &.table-stacked {
    @include media-breakpoint-down($table-media-query-down) {
      background-color: transparent !important;
    }
    thead {
      display: none;
      @include media-breakpoint-up($table-media-query-up) {
        display: table-header-group;
      }
    }
    tbody {
      tr {
        display: table;
        margin-bottom: rem(30);
        width: 100%;
        @include media-breakpoint-down($table-media-query-down) {
          background-color: transparent !important;
          border: 1px solid $gray-300;
        }
        @include media-breakpoint-up($table-media-query-up) {
          display: table-row;
          margin-bottom: 0;
          width: auto;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    td {
      display: table-row;
      @include media-breakpoint-up($table-media-query-up) {
        display: table-cell;
      }
      &:not(:last-child) {
        @include media-breakpoint-down($table-media-query-down) {
          border-bottom: 1px solid $gray-300;
        }
      }
    }
    .tablesaw-cell-label,
    .tablesaw-cell-content {
      display: table-cell;
      padding: rem(20);
      vertical-align: middle;
      width: 50%;
      @include media-breakpoint-up($table-media-query-up) {
        padding: 0;
      }
    }
    .tablesaw-cell-label {
      background-color: #8D8D8D;
      border-right: 1px solid $gray-300;
      color: $white;
      text-align: center;
      @include media-breakpoint-up($table-media-query-up) {
        display: none;
      }
    }
    &.table-dark {
      .tablesaw-cell-label {
        background-color: $yellow;
        border-right: 1px solid $gray-500;
        color: $black;
      }
      .tablesaw-cell-content {
        @include media-breakpoint-down($table-media-query-down) {
          background-color: $gray-800;
          color: $white;
        }
      }
      td {
        &:not(:last-child) {
          @include media-breakpoint-down($table-media-query-down) {
            border-bottom: 1px solid $gray-500;
          }
        }
      }
      tbody {
        tr {
          @include media-breakpoint-down($table-media-query-down) {
            border: 1px solid $gray-500;
          }
        }
      }
    }
  }
  &.table-striped {
    &:not(.table-dark) {
      tbody {
        tr {
          &:nth-child(even) {
            a {
              color: $red-2;
              &:hover,
              &:focus {
                border-bottom-color: $red-2;
                color: $red-2;
              }
            }
          }
        }
      }
    }
  }
}