.offcanvas-wrap {
  overflow: hidden;
  position: relative;
}

.site-header {
  background-color: $gray-900;
  position: relative;
  z-index: 101;

  &-light {
    background-color: $white;
  }
}

.site-header__bar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  min-height: rem(60);
  padding: rem(8) rem(16);

  @include media-breakpoint-up(1024) {
    min-height: rem(90);
    padding: 0 rem(24);
  }

  @include media-breakpoint-up(1200) {
    padding: 0 rem(64);
  }

  a {
    color: $white;
    display: block;
    transition: .25s color ease-in-out;

    &:hover,
    &:focus {
      color: $yellow;
    }

    .site-header-light & {
      color: $gray-900;

      &:hover,
      &:focus {
        color: $red;
      }
    }
  }
}

.site-header__logo {
  align-items: center;
  display: flex;
  height: rem(40);
  justify-content: flex-start;

  @include media-breakpoint-up(1024) {
    height: rem(58);
  }

  img {
    display: block;
    height: 100%;
    max-width: none;
    width: auto;
  }
}

.site-header__logo-text {
  font-size: rem(20);
  font-weight: 700;

  @include media-breakpoint-up(600) {
    font-size: rem(24);
  }
}

.site-header__nav-toggle {
  appearance: none;
  background-color: transparent;
  border: none;
  height: rem(44);
  width: rem(44);
  margin-left: auto;
  position: relative;

  @include media-breakpoint-up(1024) {
    display: none;
  }
}

.site-header__nav-icon {
  display: inline-block;
  height: 17px;
  width: 30px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  span[role="presentation"] {
    background-color: $white;
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform-origin: center;

    &:nth-child(1),
    &:nth-child(4) {
      transition: .25s opacity ease-in-out;
      transform: translate3d(-50%, 0, 0);
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 50%;
      transition: .25s transform ease-in-out;
      transform: translate3d(-50%, -50%, 0);
    }

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(4) {
      bottom: 0;
    }

    .site-header-light & {
      background-color: $gray-900;
    }
  }

  .site-header__nav-toggle[aria-expanded="true"] & {
    span[role="presentation"] {

      &:nth-child(1),
      &:nth-child(4) {
        opacity: 0;
      }

      &:nth-child(2) {
        transform: translate3d(-50%, -50%, 0) rotate(45deg);
      }

      &:nth-child(3) {
        transform: translate3d(-50%, -50%, 0) rotate(-45deg);
      }
    }
  }
}

.site-header__nav {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate3d(100%, 0, 0);
  visibility: hidden;
  width: 100%;

  @include media-breakpoint-up(1024) {
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  html:not(.js) & {
    display: none;
    height: calc(100vh - #{rem(64)});
    opacity: 1;
    transform: none;
    visibility: visible;

    &:target {
      display: block;
    }
  }

  .js & {
    &[aria-hidden] {
      transition: 0.5s opacity ease-in-out,
        0.5s transform ease-in-out,
        0.5s visibility ease-in-out;

      @include media-breakpoint-up(1024) {
        transition: none;
      }
    }

    &[aria-hidden="false"] {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }

  @include media-breakpoint-up(1024) {
    align-self: stretch;
    display: flex;
    flex-direction: column-reverse;
  }

  >ul {
    @include media-breakpoint-up(1024) {
      display: flex;
      height: 100%;
      margin-left: auto;
    }

    >li {
      display: flex;
      flex-wrap: wrap;
      font-size: rem(19);

      @include media-breakpoint-up(1024) {
        flex-wrap: nowrap;
        position: relative;
      }

      >a {
        flex: 1 1 0px;
        line-height: (25 / 19);
        padding: rem(28) rem(18) rem(30);

        @include media-breakpoint-down(1023) {
          background-color: $gray-700;
          border-bottom: 1px solid $gray-600;
        }

        @include media-breakpoint-up(1024) {
          align-items: center;
          display: flex;
          flex: 0 1 auto;
          height: 100%;
          padding-top: 0;
          padding-bottom: rem(2);
          text-align: center;
          width: auto;
        }

        .site-header-light & {
          @include media-breakpoint-down(1023) {
            background-color: $gray-100;
            border-bottom: 1px solid $gray-600;
          }
        }

        &:not(:last-child) {
          @include media-breakpoint-up(1024) {
            padding-right: 0;
          }
        }
      }

      ul {
        background-color: $gray-900;
        border-bottom: 1px solid $gray-600;
        margin-top: -1px;
        width: 100%;

        @include media-breakpoint-up(1024) {
          border-bottom: none;
          min-width: rem(160);
          max-width: rem(300);
          position: absolute;
          top: 100%;
          left: 0;
          width: auto;
        }

        .js & {
          height: 0;
          overflow: hidden;
          transition: 0.25s height ease-in-out;
        }

        li {
          font-size: rem(17);
          letter-spacing: rem(-.25);
        }

        a {
          background-color: $gray-900;
          padding: rem(14) rem(50);

          @include media-breakpoint-up(1024) {
            padding: rem(14) rem(16);
          }

          .site-header-light & {
            background-color: $gray-200;
          }
        }
      }
    }
  }
}

.site-header__nav-dropdown-toggle {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  top: 0;
  right: 0;
  width: rem(64);

  @include media-breakpoint-down(1023) {
    background-color: $gray-700;
    border-left: 1px solid $gray-600;
    border-bottom: 1px solid $gray-600;
  }

  @include media-breakpoint-up(1024) {
    width: rem(44);
  }

  &:after {
    content: "";
    border-right: 2px solid $white;
    border-bottom: 2px solid $white;
    display: block;
    height: rem(16);
    width: rem(16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transform-origin: center;
    transition: 0.25s border-color ease-in-out, 0.25s transform ease-in-out;

    @include media-breakpoint-up(1024) {
      height: rem(10);
      width: rem(10);
    }
  }

  &:hover,
  &:focus {
    &:after {
      border-color: $yellow;
    }
  }

  &[aria-expanded="true"] {
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(225deg);
    }
  }

  .site-header-light & {
    @include media-breakpoint-down(1023) {
      background-color: $gray-200;
    }

    &:after {
      border-color: $gray-900;
    }

    &:hover,
    &:focus {
      &:after {
        border-color: $red;
      }
    }
  }
}
