{%
  set classes = [
    'carousel-bg',
    paragraph.field_ut_carousel_style.value ? paragraph.field_ut_carousel_style.value|clean_class,
  ]
%}
<div class="{{ classes|join(' ') }}">
  <div class="carousel-nav">
    <button class="carousel-nav-button carousel-nav-prev" aria-label="Previous slide">
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Previous slide</span>
    </button>
    <button class="carousel-nav-button carousel-nav-next" aria-label="Next slide">
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next slide</span>
    </button>
  </div>
  <div class="carousel">
    {{ content.field_ut_carousel_items|field_value }}
  </div>
</div>
