{%
  set classes = [
    'image-bg',
    paragraph.field_ut_image_style.value ? paragraph.field_ut_image_style.value|clean_class,
  ]
%}
<div class="{{ classes|join(' ') }}">
  <figure>
    <div class="image-media">
      <img src="{{ file_url(content.field_ut_image_image[0]['#media'].field_media_image.entity.uri.value | image_style('optimized')) }}" alt="placeholder alt" />
    </div>
    {% if content.field_ut_image_caption|field_value %}
      <figcaption>
        {{ content.field_ut_image_caption|field_value }}
      </figcaption>
    {% endif %}
  </figure>
</div>
