{%
  set classes = [
    'card-group-bg',
    paragraph.field_ut_card_group_style.value ? paragraph.field_ut_card_group_style.value|clean_class,
  ]
%}
<div class="{{ classes|join(' ') }}">
  {{ content.field_ut_card_group_cards }}
  <div class="card-group-nav">
    <button class="card-group-nav-button card-group-nav-prev" aria-label="View previous Card">
      <span class="sr-only">View previous card</span>
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
    </button>
    <button class="card-group-nav-button card-group-nav-next" aria-label="View next Card">
      <span class="sr-only">View next card</span>
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
    </button>
  </div>
</div>