{%
  set classes = [
    'feature',
    paragraph.field_ut_feature_reverse.value ? 'feature-reverse',
    paragraph.field_ut_feature_style.value ? paragraph.field_ut_feature_style.value|clean_class,
    paragraph.field_ut_feature_color.value ? paragraph.field_ut_feature_color.value|clean_class,
  ]
%}
<div class="{{ classes|join(' ') }}">
    <div class="feature-media">
      <img src="{{ file_url(content.field_ut_feature_image[0]['#media'].field_media_image.entity.uri.value | image_style('optimized')) }}" alt="">
    </div>
    <div class="feature-content">
      <div class="outer-pad">
        <div class="editor-content">
          {% if content.field_ut_feature_title|field_value %}
            <h2>{{ content.field_ut_feature_title|field_value }}</h2>
          {% endif %}
        </div>
      </div>
    </div>
</div>