<div class="feature bg-{{bg}}{% if reverse %} feature-reverse{% endif %}">
  <div class="feature-media">
    <img src="{{image.src|path}}" alt="{{image.alt}}">
  </div>
  <div class="feature-content">
    <div class="outer-pad">
      <div class="editor-content">{{content}}</div>
    </div>
  </div>
</div>