{% extends "page.html.twig" %}

{% block hero %}
  <div class="article-hero">
    <div class="container article-hero-content">
      <div class="row justify-content-center">
        <div class="col-800 col-1000-10">
          {% if node.field_umdt_ct_article_categories.value %}
            <span class="label">{{ drupal_field('name', 'taxonomy_term', node.field_umdt_ct_article_categories.value.0.target_id) }}</span>
          {% endif %}
          <h1>{{ node.title.value }}</h1>
          {% if node.field_umdt_ct_article_subtitle.value %}
            <p class="article-subhead h4">{{ node.field_umdt_ct_article_subtitle.value }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}