// Overrides
@import "_core/variables";

/* Bootstrap */

// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/transitions";

@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/alert";

// Flickity
@import "~flickity/css/flickity";

// Core
@import "_core/fonts";
@import "_core/mixins";
@import "_core/functions";
@import "_core/base";
@import "_core/typography";
@import "_core/layout";
@import "_core/placeholder-selectors";
@import "_core/vendor";
@import "_core/forms";
@import "_core/ie";

// Components
@import "../components/accordion/accordion";
@import "../components/alerts/alerts";
@import "../components/back-to-top/back-to-top";
@import "../components/blockquote/blockquote";
@import "../components/button/button";
@import "../components/button-set/button-set";
@import "../components/breadcrumb/breadcrumb";
@import "../components/card/card";
@import "../components/card-group/card-group";
@import "../components/carousel/carousel";
@import "../components/carousel-item/carousel-item";
@import "../components/divider/divider";
@import "../components/embed/embed";
@import "../components/events/events";
@import "../components/event/event";
@import "../components/feature/feature";
@import "../components/feed/feed";
@import "../components/hero/hero";
@import "../components/home-hero/home-hero";
@import "../components/image/image";
@import "../components/lightbox/lightbox";
@import "../components/link-set/link-set";
@import "../components/pagination/pagination";
@import "../components/profile-card/profile-card";
@import "../components/site-footer/site-footer";
@import "../components/site-header/site-header";
@import "../components/slideshow/slideshow";
@import "../components/slideshow-item/slideshow-item";
@import "../components/stat-group/stat-group";
@import "../components/stat/stat";
@import "../components/subnav/subnav";
@import "../components/tab-panel/tab-panel";
@import "../components/table/table";
@import "../components/taglist/taglist";

// Pages
@import "../components/pages/article-detail/article-detail";
@import "../components/pages/profile-detail/profile-detail";
