<div class="carousel-bg">
  <div class="carousel-nav">
    <button class="carousel-nav-button carousel-nav-prev" aria-label="Previous slide">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 23"><path d="M11.738 2.104a.909.909 0 000-1.277.887.887 0 00-1.263 0L.262 11.143a.909.909 0 000 1.277l10.213 10.315a.886.886 0 001.263 0 .909.909 0 000-1.276L2.424 11.78l9.314-9.677z" fill-rule="evenodd"/></svg>
      <span class="sr-only">Previous slide</span>
    </button>
    <button class="carousel-nav-button carousel-nav-next" aria-label="Next slide">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 23"><path d="M.262 20.899a.91.91 0 000 1.277.887.887 0 001.263 0L11.74 11.859a.91.91 0 000-1.277L1.525.265a.886.886 0 00-1.263 0 .91.91 0 000 1.277l9.315 9.679-9.315 9.678z" fill-rule="evenodd"/></svg>
      <span class="sr-only">Next slide</span>
    </button>
  </div>
  <div class="carousel">
    {% for item in items %}
      {% include "@carousel-item" with {
        "image": item.image,
        "title": item.title,
        "content": item.content
      } %}
    {% endfor %}
  </div>
</div>