.btn-set {
    margin-bottom: rem(-24);
    @include media-breakpoint-up(600) {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
    .btn {
        align-items: center;
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        margin: 0 0 rem(24) 0;
        width: 100%;
        @include media-breakpoint-up(600) {
            display: inline-block;
            margin-right: rem(24);
            width: auto;
        }
        &:first-child {
            @include media-breakpoint-up(600) {
                margin-left: 0;
            }
        }
        &.btn-link {
            display: table;
            width: auto;
        }
    }
    &.btn-set-centered {
        justify-content: center;
    }
}
