.btn-set {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(600) {
        display: block;
    }
    .btn {
        align-items: center;
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        margin: 0 0 rem(24) 0;
        width: 100%;
        @include media-breakpoint-up(600) {
            display: inline-block;
            margin-right: rem(24);
            width: auto;
        }
    }
}