{% include "@hero" with hero %}
<div class="container page-content">
  <div class="row justify-content-center">
    <div class="col-800-3">
      {% include "@subnav" %}
    </div>
    <div class="col-800-9">
      {% include "@breadcrumb" with breadcrumb %}
      <h1>News</h1>
      <form class="views-exposed-form" data-drupal-selector="views-exposed-form-articles-block-1" action="/articles" method="get" id="views-exposed-form-articles-block-1" accept-charset="UTF-8">


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_exposed_form' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-exposed-form.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
          <div class="js-form-item form-item js-form-type-textfield form-item-search js-form-item-search"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form_element_label' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' --><label for="edit-search"> Search</label>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'input__textfield' -->
          <!-- FILE NAME SUGGESTIONS:
            * input--textfield.html.twig
            x input.html.twig
          -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
        <input
          data-drupal-selector="edit-search" type="text" id="edit-search" name="search" value="" size="30" maxlength="128" class="form-text"> <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
          <div class="js-form-item form-item js-form-type-select form-item-field-umdt-ct-article-categories js-form-item-field-umdt-ct-article-categories"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form_element_label' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' --><label for="edit-field-umdt-ct-article-categories"> Category</label>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'select' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->
            <select data-drupal-selector="edit-field-umdt-ct-article-categories" id="edit-field-umdt-ct-article-categories" name="field_umdt_ct_article_categories" class="form-select"> <option value="All" selected="selected">- Any -</option>
            <option value="2">Alumni News</option>
            <option value="3">Faculty News</option>
            <option value="4">Staff News</option>
            <option value="1">Student News</option>
          </select>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->


        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
          <div class="js-form-item form-item js-form-type-select form-item-field-umdt-ct-article-author js-form-item-field-umdt-ct-article-author"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form_element_label' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' --><label for="edit-field-umdt-ct-article-author"> Author</label>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'select' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->
            <select data-drupal-selector="edit-field-umdt-ct-article-author" id="edit-field-umdt-ct-article-author" name="field_umdt_ct_article_author" class="form-select"> <option value="" selected="selected">- Any -</option>
            <option value="12">Carl Jones</option>
            <option value="11">George Bradford</option>
            <option value="13">Jamie Fox</option>
            <option value="10">John Doe</option>
            <option value="14">Nita Simons</option>
          </select>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->


        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'container' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'input__submit' -->
          <!-- FILE NAME SUGGESTIONS:
            * input--submit.html.twig
            x input.html.twig
          -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
        <input data-drupal-selector="edit-submit-articles" type="submit" id="edit-submit-articles" value="Apply" class="btn btn-primary button js-form-submit form-submit"> <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


        <!-- END OUTPUT from 'core/themes/stable/templates/views/views-exposed-form.html.twig' -->


      </form>
      {% include "@feed" with feed %}
      {% include "@pagination" %}
    </div>
  </div>
</div>