<nav class="subnav" aria-label="Sidebar">
  <ul>
    <li class="subnav-parent">
      {# Handle parent page styling #}
      <a href=""><span class="icon icon-chevron-right" aria-hidden="true"></span>Parent Page Title</a>
      <ul>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="" aria-current="page">Immunocompromised Students</a>
          <ul>
            <li><a href="">Child Page Link</a></li>
            <li><a href="">Child Page Link</a></li>
            <li><a href="">Child Page Link</a></li>
          </ul>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>