.accordion {
  > .card {
    .card-header {
      .btn {
        box-shadow: none;
        position: relative;
        z-index: 1;
        &:hover,
        &:focus {
          &:before,
          &:after {
            background-color: $red;
          }
        }
        &[aria-expanded="true"] {
          box-shadow: 0 4px 9px rgba(0, 0, 0, .14);
          &:before {
            transform: translate(-50%, -50%) scaleY(0);
          }
        }
        &:before,
        &:after {
          content: "";
          background-color: #666;
          display: block;
          position: absolute;
          top: 50%;
          left: rem(27);
          transform: translate(-50%, -50%);
          transition:
            .3s color ease-in-out,
            $accordion-slide-duration transform ease-in-out;
        }
        &:before {
          height: rem(11);
          width: rem(3);
        }
        &:after {
          height: rem(3);
          width: rem(11);
        }
      }
    }
    .card-body {
      border-left: 5px solid $red;
      font-size: rem(17);
      line-height: (26 / 17);
    }
  }
}