.embed-bg {
  padding: rem(15);
  @include media-breakpoint-up(800) {
    padding: rem(40) rem(36);
  }
  figure {
    margin-bottom: 0;
  }
  &-dark {
    background-color: $gray-900;
    figcaption {
      color: #fff;
    }
  }
}