.max-bound {
  width: 100%;
  max-width: $max-bound-width;
  margin: 0 auto;
}

.page-section {
  background-color: $white;
  color: $black;

  &.bg-red {
    color: $white;
  }
}

.section {
  margin: rem(48) 0;

  @include media-breakpoint-up(800) {
    margin: rem(60) 0;
  }

  &.section:first-child {
    margin-top: 0;
  }

  &.section:last-child {
    margin-bottom: 0;
  }
}

.outer-pad {
  padding: rem(64) rem(36);

  @include media-breakpoint-up(800) {
    padding: rem(84) rem(120);
  }
}

.page-content {
  padding: rem(20) rem(24) rem(64);

  @include media-breakpoint-up(800) {
    padding: rem(45) rem(36) rem(80);
  }
}

.article-hero-content {
  padding-right: rem(36);
  padding-left: rem(36);
}

.editor-content {
  @include clearfix();
}