
/* Base
   ========================================================================== */

body {
  color: $body-color;
  font-size: $font-size-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .editor-content & {
    margin: 0 0 rem(24);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .section-ut_text_2_columns [class^="col"] &,
  .section-ut_text_3_columns [class^="col"] & {
    margin-bottom: rem(24);
  }
  .section-ut_text_2_columns [class^="col"]:last-child &:last-child,
  .section-ut_text_3_columns [class^="col"]:last-child &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  .editor-content &:not([class]) {
    border-bottom: 1px solid transparent;
    color: $red;
    transition: .25s border-color ease-in-out;
    &:hover {
      border-bottom-color: $red;
    }
  }
  &.fancy-link {
    border-bottom: 1px solid transparent;
    color: $red;
    font-weight: 700;
    margin-right: rem(36);
    position: relative;
    transition: .25s border-color ease-in-out,
      .25s color ease-in-out;
    &:hover {
      border-bottom: 1px solid $dark-red;
      color: $dark-red;
      &:after {
        opacity: 1;
        transform: translate(#{rem(4)}, -50%);
      }
    }
    &:after {
      @extend %icomoon;
      content: "\e901";
      display: inline-block;
      font-size: rem(4);
      opacity: 0;
      bottom: rem(6);
      position: absolute;
      transform: translate(0, -50%);
      transition: .25s opacity ease-in-out,
        .25s transform ease-in-out;
    }
  }
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
  .editor-content & {
    margin: $list-margin;
    padding: $list-padding;
  }
  li {
    margin: 0;
    padding: 0;
    .editor-content & {
      margin: 0 0 rem(12);
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ul, ol {
    .editor-content & {
      margin: 0;
    }
    li {
      .editor-content & {
        &:first-child {
          margin-top: rem(12);
        }
      }
    }
  }
}

ul {
  li {
    .editor-content & {
      padding-left: rem(14);
      &:before {
        content: "";
        display: inline-block;
        border-top: 3px solid transparent;
        border-left: 6px solid $red;
        border-bottom: 3px solid transparent;
        height: 0;
        width: 0;
        margin-right: rem(6);
        position: absolute;
        top: rem(12);
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
  ul {
    li {
      .editor-content & {
        &:before {
          background-color: $red;
          border: none;
          height: rem(3);
          width: rem(7);
        }
      }
    }
    ul {
      li {
        .editor-content & {
          &:before {
            content: "";
            background-color: transparent;
            border-top: 4px solid transparent;
            border-left: 8px solid $red;
            border-bottom: 4px solid transparent;
            height: 0;
            width: 0;
          }
          &:after {
            content: "";
            background-color: transparent;
            border-top: 2.25px solid transparent;
            border-left: 4.5px solid $white;
            border-bottom: 2.25px solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            top: rem(12);
            left: rem(1.25);
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

ol {
  .editor-content & {
    counter-reset: list;
    li {
      counter-increment: list;
      &:before {
        content: counter(list, decimal) ".\00a0\00a0";
        color: $red;
        font-weight: 700;
      }
    }
    ol {
      li {
        &:before {
          content: counter(list, lower-alpha) ".\00a0\00a0";
        }
      }
      ol {
        li {
          &:before {
            content: counter(list, lower-roman) ".\00a0\00a0";
          }
        }
      }
    }
  }
}

/* Headings
   ========================================================================== */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  color: $red;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  font-size: rem(68);
  letter-spacing: rem(-1.15);
  line-height: (75 / 68);
}

h2, .h2 {
  font-family: $font-family-serif;
  font-size: rem(42);
  line-height: (48 / 42);
}

h3, .h3 {
  font-family: $font-family-sans-serif;
  font-size: rem(28);
  font-weight: 600;
  line-height: (36 / 28);
}

h4, .h4 {
  font-family: $font-family-serif;
  font-size: rem(26);
  line-height: (40 / 26);
}

h5, .h5 {
  font-family: $font-family-sans-serif;
  font-size: rem(22);
  font-weight: 600;
  line-height: (28 / 22);
}

h6, .h6 {
  font-family: $font-family-sans-serif;
  font-size: rem(20);
  font-weight: 600;
  letter-spacing: rem(1);
  text-transform: uppercase;
}

.widget-heading {
  color: inherit;
}

.label {
  @extend %label;
}

.back-to-link {
  display: table;
  font-size: rem(15);
  font-weight: 700;
  line-height: (26 / 15);
  margin-bottom: rem(12);
  position: relative;
  padding-left: rem(20);
  &:hover {
    color: $dark-red;
    .icon {
      transform: translate3d(-50%, -50%, 0) scale(-1);
    }
  }
  .icon {
    font-size: rem(14);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0) scale(-1);
    transition: .25s transform ease-in-out;
  }
}