.slideshow-item {
  width: 100%;
  > figure {
    margin: 0;
  }
}

.slideshow-image {
  position: relative;
  &:before {
    content: "";
    display: block;
    padding-bottom: $slideshow__image-ar;
    width: 100%;
  }
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.slideshow-image-caption {
  margin: rem(12) 0 rem(24);
  text-align: center;
  @include media-breakpoint-up(800) {
    font-style: italic;
    text-align: right;
  }
  .slideshow-bg-dark & {
    color: $white;
  }
}

.slideshow-caption {
  color: inherit;
  padding: 0;
  position: static;
  text-align: left;
}

.slideshow-caption-title {
  color: $red;
  font-size: rem(20);
  font-weight: 700;
  letter-spacing: rem(.5);
  line-height: (22 / 20);
  margin-bottom: rem(10);
  text-transform: uppercase;
  .slideshow-bg-dark & {
    color: $yellow;
  }
}

.slideshow-caption-content {
  font-size: rem(17);
}