@import "variables";

.card {
  border: none;
  position: relative;
  transition: .25s .25s box-shadow ease-in-out;

  &[role="link"] {
    transition: .25s border ease-in-out,
      .25s box-shadow ease-in-out,
      .25s transform ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 4px 4px 11px 0 rgba(0, 0, 0, 0.19);
      cursor: pointer;
      z-index: 2;

      @include media-breakpoint-up(800) {
        transform: scale(1.02);
      }

      .card-title {
        color: $red;
      }

      .card-cta {
        &:after {
          opacity: 1;
          transform: translate(#{rem(4)}, -50%);
        }
      }
    }
  }

  &.card-dark {
    @extend %card-dark;
  }

  &.card-hz {
    @extend %card-hz;
  }
}

.card-img {
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    padding-bottom: $card__image-ar;
  }

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.card-img-text {
  background-color: rgba(#323232, .75);
  color: $white;
  font-size: rem(16);
  font-weight: 600;
  padding: rem(14) rem(30) rem(15);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-transform: uppercase;
}

.card-body {
  background-color: $white;
  padding: rem(12) rem(24) rem(20);
  transition: .25s background-color ease-in-out;
}

.card-title {
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: rem(.02);
  line-height: (18.4 / 16);
  margin-bottom: rem(20);
  padding-bottom: rem(12);
  position: relative;
  transition: .25s color ease-in-out;

  &:after {
    content: "";
    background-color: $gray-300;
    display: block;
    height: rem(2);
    width: rem(31);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .section-umd_terp_related_stories &,
  .page-section-umd_terp_related_stories & {
    color: $red;
  }
}

.card-text {
  color: $gray-700;
  font-size: rem(17);
  transition: .25s color ease-in-out;

  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}

.card-cta {
  &.fancy-link {
    font-weight: 400;
    font-size: rem(17);

    &:after {
      bottom: rem(4);
    }
  }
}
