

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link media="screen" rel="stylesheet" href="../../css/index.css">
		<title>UMD Drupal 8</title>
		<script>
			document.documentElement.classList.add('js');
			if (!!window.MSInputMethodContext && !!document.documentMode) {
                document.documentElement.classList.add('is-ie11');
            }
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="accordion-0" class="accordion">
      <div class="card">
  <div class="card-header" id="accordion-0-header-1">
    <button class="btn" data-toggle="collapse" data-target="#accordion-0-content-1" aria-expanded="false" aria-controls="accordion-0-content-1">
      Accordion 1
    </button>
  </div>
  <div id="accordion-0-content-1" class="collapse" aria-labelledby="accordion-0-header-1">
    <div class="card-body">
      <p>This is the content area of accordion 1</p>
    </div>
  </div>
</div>      <div class="card">
  <div class="card-header" id="accordion-0-header-2">
    <button class="btn" data-toggle="collapse" data-target="#accordion-0-content-2" aria-expanded="false" aria-controls="accordion-0-content-2">
      Accordion 2
    </button>
  </div>
  <div id="accordion-0-content-2" class="collapse" aria-labelledby="accordion-0-header-2">
    <div class="card-body">
      <p>This is the content area of accordion 2</p>
    </div>
  </div>
</div>  </div>
		<script src="../../js/index.js"></script>
		<link media="print" rel="stylesheet" href="../../css/print.css">
	</body>
</html>

