

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link media="screen" rel="stylesheet" href="../../css/index.css">
		<title>UMD Drupal 8</title>
		<script>
			document.documentElement.classList.add('js');
			if (!!window.MSInputMethodContext && !!document.documentMode) {
                document.documentElement.classList.add('is-ie11');
            }
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="alerts">
            <h2 class="alerts-heading">Static Alerts</h2>
                <div class="alert" role="alert">
            <h3 class="alert-heading">Alert One</h3>
            <div class="alert-content">
                <p>Cras id mauris <a href="">sed massa ornare porttitor.</a> Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet lectus.</p>
            </div>
            <a href="https://idfive.com" class="btn alert-cta">Alert One Link</a>
        </div>
            <div class="alert" role="alert">
            <h3 class="alert-heading">Alert Two</h3>
            <div class="alert-content">
                <p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet lectus.</p>
            </div>
            <a href="https://idfive.com" class="btn alert-cta">Alert Two Link</a>
        </div>
    </div>
		<script src="../../js/index.js"></script>
		<link media="print" rel="stylesheet" href="../../css/print.css">
	</body>
</html>

