

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link media="screen" rel="stylesheet" href="../../css/index.css">
		<title>UMD Drupal 8</title>
		<script>
			document.documentElement.classList.add('js');
			if (!!window.MSInputMethodContext && !!document.documentMode) {
                document.documentElement.classList.add('is-ie11');
            }
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<blockquote class="blockquote"  cite="https://idfive.com" >
	<p>Lorem Ipsum Dolor Sit Amet duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
			<footer class="blockquote-footer">
							<div class="blockquote-portrait">
					<img src="http://via.placeholder.com/300x300" alt="Portrait of Firstname Lastname ’19">
				</div>
						<div class="blockquote-attribution">
				<span class="blockquote-author">Firstname Lastname ’19</span>
									<span class="blockquote-title">Title goes here</span>
													<cite class="blockquote-source">
						<a href="https://idfive.com">Lorem Publication Name Ipsum</a>
					</cite>
							</div>
		</footer>
	</blockquote>

		<script src="../../js/index.js"></script>
		<link media="print" rel="stylesheet" href="../../css/print.css">
	</body>
</html>

