

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link media="screen" rel="stylesheet" href="../../css/index.css">
		<title>UMD Drupal 8</title>
		<script>
			document.documentElement.classList.add('js');
			if (!!window.MSInputMethodContext && !!document.documentMode) {
                document.documentElement.classList.add('is-ie11');
            }
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="events-bg">
  <h2 class="widget-heading h3">Events</h2>
  <div class="events">
          <div class="event-wrap">
        <div class="event card">
  <div class="event-body">
        <div class="event-date">May 13 - June 12, 2019</div>
    <h3 class="event-title">Event Title Will Go Here</h3>
    <p class="event-description"></p>
    <div class="event-time-location">
      <span>10:00am - 12:00pm</span>
      <span>Brendan Aribe Center</span>
    </div>
    <a href="https://google.com" class="card-cta event-cta fancy-link">Learn More</a>
  </div>
</div>      </div>
          <div class="event-wrap">
        <div class="event card">
  <div class="event-body">
          <div class="event-frequency">Weekly</div>
        <div class="event-date">June 28, 2019</div>
    <h3 class="event-title">Event Title Will Go Here</h3>
    <p class="event-description"></p>
    <div class="event-time-location">
      <span>10:00am - 12:00pm</span>
      <span>Brendan Aribe Center</span>
    </div>
    <a href="https://google.com" class="card-cta event-cta btn">Register</a>
  </div>
</div>      </div>
          <div class="event-wrap">
        <div class="event card">
  <div class="event-body">
          <div class="event-frequency">Ongoing</div>
        <div class="event-date">June 19, 2019</div>
    <h3 class="event-title">Event Title Will Go Here</h3>
    <p class="event-description"></p>
    <div class="event-time-location">
      <span>10:00am - 12:00pm</span>
      <span>Brendan Aribe Center</span>
    </div>
    <a href="https://google.com" class="card-cta event-cta btn">Register</a>
  </div>
</div>      </div>
      </div>
  <div class="text-center">
    <a href="" class="events-calendar-cta fancy-link">View Full Calendar</a>
  </div>
</div>
		<script src="../../js/index.js"></script>
		<link media="print" rel="stylesheet" href="../../css/print.css">
	</body>
</html>

