

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link media="screen" rel="stylesheet" href="../../css/index.css">
		<title>UMD Drupal 8</title>
		<script>
			document.documentElement.classList.add('js');
			if (!!window.MSInputMethodContext && !!document.documentMode) {
                document.documentElement.classList.add('is-ie11');
            }
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="feature bg-white feature-bg">
  <div class="feature-media">
    <img src="../../img/Feature_2.jpg" alt="">
  </div>
  <div class="feature-content">
    <div class="outer-pad">
      <div class="editor-content"><h2>Heading 2 - Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</h2></div>
    </div>
  </div>
</div>

		<script src="../../js/index.js"></script>
		<link media="print" rel="stylesheet" href="../../css/print.css">
	</body>
</html>

