

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link media="screen" rel="stylesheet" href="../../css/index.css">
    <title>UMD Drupal 8</title>
    <script>
      document.documentElement.classList.add('js');
      if (!!window.MSInputMethodContext && !!document.documentMode) {
        document.documentElement.classList.add('is-ie11');
      }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="offcanvas-wrap">
      <header class="site-header">
  <div class="site-header__bar max-bound">
    <a class="site-header__logo" href="#">
      <img src="../../img/Placeholder_Logo_Light.svg" alt="Placeholder College logo">
    </a>
    <a href="#site-header-nav" class="site-header__nav-toggle" id="site-header-nav-toggle" tabindex="0" role="button" aria-label="Main Menu" aria-controls="site-header-nav">
      <span aria-hidden="true" class="site-header__nav-icon">
          <span role="presentation"></span>
          <span role="presentation"></span>
          <span role="presentation"></span>
          <span role="presentation"></span>
      </span>
      <span class="sr-only">Main Menu</span>
    </a>
    <nav class="site-header__nav" id="site-header-nav" aria-labelledby="site-header-nav-toggle">
      <ul>
        <li>
          <a href="">Link 1</a>
          <ul>
            <li>
              <a href="">Link 2</a>
            </li>
            <li>
              <a href="">Link 3</a>
            </li>
            <li>
              <a href="">Link 4</a>
            </li>
            <li>
              <a href="">Link 5</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">Link 2</a>
        </li>
        <li>
          <a href="">Link 3</a>
        </li>
        <li>
          <a href="">Link 4</a>
        </li>
        <li>
          <a href="">Link 5</a>
        </li>
      </ul>
    </nav>
  </div>
</header>      <main id="main-content">
        <div class="home-hero home-hero-dark home-hero-bg">
  <div class="max-bound">
          <div class="home-hero-media">
        <img src="../../img/Home_Hero.jpg" alt=""/>
      </div>
        <div class="home-hero-content">
      <div class="outer-pad">
        <div class="editor-content"><h1>Heading 1 lorem ipsum dolor sit </h1><h2>Subhead style</h2><p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Link text integer.</p><p><a href="" class="btn btn-primary">Button</a></p></div>
      </div>
    </div>
  </div>
</div>
<div class="page-section page-section-ut_image_with_text">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="editor-content">
        <figure role="group" class="align-left">
          <img alt="Image description lorem ipsum dolor sit amet" src="../../img/Home_Embedded_1.jpg">
          <figcaption>Image description lorem ipsum dolor sit amet</figcaption>
        </figure>
        <h2>Text With an Image - Left Aligned</h2>
        <p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet lectus. Vestibulum auctor varius tortor, sit amet rutrum mauris cursus vel. Quisque ac dapibus nunc. Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Ut at ipsum sapien. Sed arcu sapien, malesuada ut lorem id, imperdiet dignissim ex. Vivamus quam arcu, auctor sit amet nulla quis, auctor pharetra erat. Integer eu tempus turpis, et ultrices.</p>
      </div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="feature bg-red feature-reverse">
  <div class="feature-media">
    <img src="../../img/Feature_1.jpg" alt="">
  </div>
  <div class="feature-content">
    <div class="outer-pad">
      <div class="editor-content"><h2>Heading 2 - Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</h2></div>
    </div>
  </div>
</div>    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="feature bg-yellow">
  <div class="feature-media">
    <img src="../../img/Feature_1.jpg" alt="">
  </div>
  <div class="feature-content">
    <div class="outer-pad">
      <div class="editor-content"><h2>Heading 2 - Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</h2></div>
    </div>
  </div>
</div>    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="feature bg- feature-bg feature-reverse">
  <div class="feature-media">
    <img src="../../img/Feature_2.jpg" alt="">
  </div>
  <div class="feature-content">
    <div class="outer-pad">
      <div class="editor-content"><h2>Heading 2 - Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</h2></div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
<div class="page-section">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="feature bg- feature-bg">
  <div class="feature-media">
    <img src="../../img/Feature_3.jpg" alt="">
  </div>
  <div class="feature-content">
    <div class="outer-pad">
      <div class="editor-content"><h2>Heading 2 - Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</h2></div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
<div class="page-section page-section-ut_image_with_text">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="editor-content">
        <figure role="group" class="align-left">
          <img alt="Image description lorem ipsum dolor sit amet" src="../../img/Home_Embedded_1.jpg">
          <figcaption>Image description lorem ipsum dolor sit amet</figcaption>
        </figure>
        <h2>Text With an Image - Left Aligned</h2>
        <p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet lectus. Vestibulum auctor varius tortor, sit amet rutrum mauris cursus vel. Quisque ac dapibus nunc. Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Ut at ipsum sapien. Sed arcu sapien, malesuada ut lorem id, imperdiet dignissim ex. Vivamus quam arcu, auctor sit amet nulla quis, auctor pharetra erat. Integer eu tempus turpis, et ultrices.</p>
      </div>
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_related_stories">
  <div class="max-bound">
    <div class="outer-pad">
      <h2>Recent News/Featured</h2>
      <div class="card card-hz">
  <div class="card-img card-img-top">
    <img src="../../img/Home_Recent_News.jpg" alt="placeholder alt text">
          <div class="card-img-text">May 30, 2019</div>
      </div>
  <div class="card-body">
          <div class="card-title">Story title</div>
        <p class="card-text">Id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis.</p>
          <a href="https://google.com" class="card-cta fancy-link">Read More</a>
      </div>
</div>
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_stat_group">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="stat-group-bg stat-group-bg-dark">
  <div class="stat-group">
          <div class="stat-wrap">
        <div class="stat">
  <div class="stat-number">36M</div>
  <div class="stat-text">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, nec tortor erat a elemen.</div>
</div>      </div>
          <div class="stat-wrap">
        <div class="stat">
  <div class="stat-number">1600</div>
  <div class="stat-text">Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla.</div>
</div>      </div>
          <div class="stat-wrap">
        <div class="stat">
  <div class="stat-number">2890</div>
  <div class="stat-text">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, sceleris.</div>
</div>      </div>
      </div>
  <div class="stat-group-nav">
    <button class="stat-group-nav-button stat-group-nav-prev" aria-label="View previous stat">
      <span class="sr-only">View previous stat</span>
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
    </button>
    <button class="stat-group-nav-button stat-group-nav-next" aria-label="View next stat">
      <span class="sr-only">View next stat</span>
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
    </button>
  </div>
</div>    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_events">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="events-bg">
  <h2 class="widget-heading h3">Events</h2>
  <div class="events">
          <div class="event-wrap">
        <div class="event card">
  <div class="event-body">
        <div class="event-date">May 13 - June 12, 2019</div>
    <h3 class="event-title">Event Title Will Go Here</h3>
    <p class="event-description"></p>
    <div class="event-time-location">
      <span>10:00am - 12:00pm</span>
      <span>Brendan Aribe Center</span>
    </div>
    <a href="https://google.com" class="card-cta event-cta fancy-link">Learn More</a>
  </div>
</div>      </div>
          <div class="event-wrap">
        <div class="event card">
  <div class="event-body">
          <div class="event-frequency">Weekly</div>
        <div class="event-date">June 28, 2019</div>
    <h3 class="event-title">Event Title Will Go Here</h3>
    <p class="event-description"></p>
    <div class="event-time-location">
      <span>10:00am - 12:00pm</span>
      <span>Brendan Aribe Center</span>
    </div>
    <a href="https://google.com" class="card-cta event-cta btn">Register</a>
  </div>
</div>      </div>
          <div class="event-wrap">
        <div class="event card">
  <div class="event-body">
          <div class="event-frequency">Ongoing</div>
        <div class="event-date">June 19, 2019</div>
    <h3 class="event-title">Event Title Will Go Here</h3>
    <p class="event-description"></p>
    <div class="event-time-location">
      <span>10:00am - 12:00pm</span>
      <span>Brendan Aribe Center</span>
    </div>
    <a href="https://google.com" class="card-cta event-cta btn">Register</a>
  </div>
</div>      </div>
      </div>
  <div class="text-center">
    <a href="" class="events-calendar-cta fancy-link">View Full Calendar</a>
  </div>
</div>    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_blockquote">
  <div class="max-bound">
    <div class="outer-pad">
      <blockquote class="blockquote" >
	<p>Lorem Ipsum Dolor Sit Amet duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
			<footer class="blockquote-footer">
							<div class="blockquote-portrait">
					<img src="../../img/KS_Blockquote.jpg" alt="Portrait of Firstname Lastname ’19">
				</div>
						<div class="blockquote-attribution">
				<span class="blockquote-author">Firstname Lastname ’19</span>
									<span class="blockquote-title">Title goes here</span>
											</div>
		</footer>
	</blockquote>
    </div>
  </div>
</div>
<div class="page-section page-section-umd_terp_carousel">
  <div class="max-bound">
    <div class="outer-pad">
      <div class="carousel-bg">
  <div class="carousel-nav">
    <button class="carousel-nav-button carousel-nav-prev" aria-label="Previous slide">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 23"><path d="M11.738 2.104a.909.909 0 000-1.277.887.887 0 00-1.263 0L.262 11.143a.909.909 0 000 1.277l10.213 10.315a.886.886 0 001.263 0 .909.909 0 000-1.276L2.424 11.78l9.314-9.677z" fill-rule="evenodd"/></svg>
      <span class="sr-only">Previous slide</span>
    </button>
    <button class="carousel-nav-button carousel-nav-next" aria-label="Next slide">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 23"><path d="M.262 20.899a.91.91 0 000 1.277.887.887 0 001.263 0L11.74 11.859a.91.91 0 000-1.277L1.525.265a.886.886 0 00-1.263 0 .91.91 0 000 1.277l9.315 9.679-9.315 9.678z" fill-rule="evenodd"/></svg>
      <span class="sr-only">Next slide</span>
    </button>
  </div>
  <div class="carousel">
          <div class="carousel-item">
      <figure>
      <div class="carousel-image">
        <img src="../../img/KS_Carousel_1.jpg" alt="placeholder alt text" tabindex="0">
      </div>
      <figcaption class="carousel-image-caption">Photos by John Smith & Jane Adams</figcaption>
    </figure>
    <div class="carousel-caption">
    <div class="carousel-caption-title">Slide Title Lorem 1</div>
    <div class="carousel-caption-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.</div>
  </div>
</div>          <div class="carousel-item">
      <figure>
      <div class="carousel-image">
        <img src="../../img/KS_Carousel_2.jpg" alt="placeholder alt text" tabindex="0">
      </div>
      <figcaption class="carousel-image-caption">Photos by John Smith & Jane Adams</figcaption>
    </figure>
    <div class="carousel-caption">
    <div class="carousel-caption-title">Slide Title Lorem Ipsum 2</div>
    <div class="carousel-caption-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.</div>
  </div>
</div>          <div class="carousel-item">
      <figure>
      <div class="carousel-image">
        <img src="../../img/KS_Carousel_3.jpg" alt="placeholder alt text" tabindex="0">
      </div>
      <figcaption class="carousel-image-caption">Photos by John Smith & Jane Adams</figcaption>
    </figure>
    <div class="carousel-caption">
    <div class="carousel-caption-title">Slide Title Dolor 3</div>
    <div class="carousel-caption-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.</div>
  </div>
</div>          <div class="carousel-item">
      <figure>
      <div class="carousel-image">
        <img src="../../img/KS_Carousel_4.jpg" alt="placeholder alt text" tabindex="0">
      </div>
      <figcaption class="carousel-image-caption">Photos by John Smith & Jane Adams</figcaption>
    </figure>
    <div class="carousel-caption">
    <div class="carousel-caption-title">Slide Title Dolor 4</div>
    <div class="carousel-caption-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.</div>
  </div>
</div>      </div>
</div>    </div>
  </div>
</div>

      </main>
    </div>
    <footer class="site-footer" aria-label="Main">
  <div class="site-footer-main">
    <div class="max-bound">
      <nav class="site-footer-nav" aria-label="Footer">
        <ul>
          <li><a href="">Link 1</a></li>
          <li><a href="">Link 2</a></li>
          <li><a href="">Link 3</a></li>
          <li><a href="">Link 4</a></li>
          <li><a href="">Link 5</a></li>
        </ul>
      </nav>
      <div class="site-footer-about">
        <div class="site-footer-logo">
          <img src="../../img/Placeholder_Logo_Dark.svg" alt="Placeholder College logo">
        </div>
        <div class="site-footer-address">
          <strong>Placeholder College</strong><br>
          <span>1234 Street Name, College Park, MD 20742, USA</span><br>
          <a href="tel:+13014051000">301.405.1000</a>
          <span aria-hidden="true">&nbsp;·&nbsp;</span>
          <a href="mailto:email@umd.edu">email@umd.edu</a>
        </div>
        <div class="site-footer-social">
          <ul>
            <li>
              <a href="">
                <span class="sr-only">Visit our Twitter</span>
                <span class="icon icon-twitter" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="sr-only">Visit our Facebook</span>
                <span class="icon icon-facebook" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="sr-only">Visit our Instagram</span>
                <span class="icon icon-instagram" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="sr-only">Visit our Youtube</span>
                <span class="icon icon-youtube" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer-legal">
    <div class="max-bound">
      <ul>
        <li><a href="">Information for Visitors</a></li>
        <li><a href="">FAQs</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Office of Civil Rights &amp; Sexual Misconduct</a></li>
        <li><a href="">UMD Police Department</a></li>
        <li><a href="">Accessibility</a></li>
        <li><a href="">Policies &amp; Procedures</a></li>
        <li><a href="">Public Records Request</a></li>
      </ul>
    </div>
  </div>
</footer>    <a href="#" class="back-to-top">Back to Top</a>    <script src="../../js/index.js"></script>
    <link media="print" rel="stylesheet" href="../../css/print.css">
    <script src="https://umd-header.umd.edu/build/bundle.js?search=1&search_domain=&events=1&news=1&schools=1&admissions=1&support=1&support_url=&wrapper=1100&sticky=0"></script>
  </body>
</html>


