

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="dns-prefetch" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
		<link media="screen" rel="stylesheet" href="../../css/index.css">
		<title>UMD Drupal 8</title>
		<script>
			document.documentElement.classList.add('js');
			if (!!window.MSInputMethodContext && !!document.documentMode) {
                document.documentElement.classList.add('is-ie11');
            }
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="site-header">
  <div class="site-header__bar max-bound">
    <a class="site-header__logo" href="#">
      <img src="../../img/Placeholder_Logo_Light.svg" alt="Placeholder College logo">
    </a>
    <a href="#site-header-nav" class="site-header__nav-toggle" id="site-header-nav-toggle" tabindex="0" role="button" aria-label="Main Menu" aria-controls="site-header-nav">
      <span aria-hidden="true" class="site-header__nav-icon">
          <span role="presentation"></span>
          <span role="presentation"></span>
          <span role="presentation"></span>
          <span role="presentation"></span>
      </span>
      <span class="sr-only">Main Menu</span>
    </a>
    <nav class="site-header__nav" id="site-header-nav" aria-labelledby="site-header-nav-toggle">
      <ul>
        <li>
          <a href="">Link 1</a>
          <ul>
            <li>
              <a href="">Link 2</a>
            </li>
            <li>
              <a href="">Link 3</a>
            </li>
            <li>
              <a href="">Link 4</a>
            </li>
            <li>
              <a href="">Link 5</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="">Link 2</a>
        </li>
        <li>
          <a href="">Link 3</a>
        </li>
        <li>
          <a href="">Link 4</a>
        </li>
        <li>
          <a href="">Link 5</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
		<script src="../../js/index.js"></script>
		<link media="print" rel="stylesheet" href="../../css/print.css">
	</body>
</html>

