// ---------------------------------------------------
// silc share
// Version: 0.0.1
// Notes:
// ---------------------------------------------------
.share {
  padding: 0;
}

.share__title {
  padding: .5rem 0;
}

.share__buttons {
  padding: 0;
}