.home-hero {
  background-color: $white;
  > .max-bound {
    position: relative;
    min-height: 550px;
  }
  &.home-hero-dark,
  &.home-hero-bg {
    color: $white;
    h1 {
      color: $yellow;
    }
    .btn {
      @extend %btn-yellow;
      color: $white;
      &:hover {
        color: $black;
      }
    }
  }
  &.home-hero-dark {
    background-color: $gray-900;
  }
  &.home-hero-bg {
    background-color: $black;
    position: relative;
    > .max-bound {
      position: static;
    }
  }
}

.home-hero-content {
  position: relative;
  z-index: 10;
  &:not(:only-child) {
    @include media-breakpoint-up(1200) {
      width: 50%;
    }
  }
  &:only-child {
    h2, h3, h4, h5, h6, p {
      max-width: 50%;
    }
  }
}

.home-hero-media {
  position: relative;
  z-index: 0;
  @include media-breakpoint-up(1200) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
  }
  &:before {
    content: "";
    display: block;
    padding-bottom: 56.25%;
    @include media-breakpoint-up(800) {
      padding-bottom: 33.333%;
    }
    @include media-breakpoint-up(1200) {
      display: none;
    }
  }
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .home-hero-bg & {
    left: 0;
    width: 100%;
    &:after {
      content: "";
      background-image: linear-gradient(268deg, transparent 1%, rgba($black, .75) 75%, $black 100%);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
}