$blockquote-margin: 0 auto !default;
$blockquote-padding: 0 !default;
$blockquote-max-width: none !default;

$blockquote_icon-font-size: 4rem !default;
$blockquote_icon-font-weight: 700 !default;
$blockquote_icon-height: 2rem !default;
$blockquote_icon-line-height: 1 !default;