.section.section-ut_stat_group {
  margin: rem(25) 0;
  @include media-breakpoint-up(800) {
    margin: 0 0 rem(20);
  }
  .page-content & {
    @include media-breakpoint-down(799) {
      margin-right: rem(-24);
      margin-left: rem(-24);
    }
  }
}

.stat-group-bg {
  background: $white;
  padding: 0 rem(58);
  position: relative;
  @include media-breakpoint-up(800) {
    padding: 0 rem(30);
  }
  &-dark {
    background-color: $gray-900;
    padding: rem(25) rem(58) rem(105);
    @include media-breakpoint-up(800) {
      padding: rem(70) rem(30) rem(40);
    }
    .stat {
      @extend %stat-dark;
    }
  }
  .flickity-page-dots {
    bottom: rem(-44);
    transform: translateY(100%);
  }
}

.stat-group {
  @include media-breakpoint-up(800) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -$grid-gutter-width;
  }
  &:after {
    content: "flickity";
    display: none;
    @include media-breakpoint-up(800) {
      content: "";
    }
  }
}

.stat-wrap {
  width: 100%;
  @include media-breakpoint-up(800) {
    flex: 0 0 50%;
    margin-bottom: $grid-gutter-width;
    padding-left: $grid-gutter-width;
  }
  @include media-breakpoint-up(1200) {
    flex: 0 0 33.333%;
  }
}

.stat-group-nav {
  @include media-breakpoint-up(800) {
    display: none;
  }
}

.stat-group-nav-button {
  @extend %carousel-nav-button--minimal;
}