.tag-list {
  margin-bottom: rem(-11);
}

.tag-list-heading {
  @extend %label;
}

.tag-list-item {
  display: inline-block;
  &:not(:last-child) {
    margin-right: rem(11);
    margin-bottom: rem(11);
    &.tag-list-heading {
      margin-right: rem(16);
    }
  }
}

.tag-list-link {
  border: 2px solid $gray-200;
  color: $gray-700;
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: rem(13);
  letter-spacing: rem(1);
  line-height: (16 / 13);
  padding: rem(7) rem(11);
  text-transform: uppercase;
  transition: .25s border-color ease-in-out,
    .25s color ease-in-out;
  &:hover {
    border-color: $red;
    color: $red;
  }
}