<ul class="tag-list">
  <li class="tag-list-item tag-list-heading">{{heading}}</li>
  {% for tag in tags %}
    <li class="tag-list-item">
      <a href="" class="tag-list-link">{{tag}}</a>
    </li>
  {% endfor %}
</ul>