.section.section-ut_events {
  margin: 0 0 rem(60);
  @include media-breakpoint-up(800) {
    margin: rem(10) 0 rem(20);
  }
  .page-content & {
    @include media-breakpoint-down(799) {
      margin-right: rem(-24);
      margin-left: rem(-24);
    }
  }
}

.events-bg {
  padding: 0 rem(24);
  @include media-breakpoint-up(800) {
    margin: 0 auto;
    max-width: rem(1010);
    padding: 0 rem(32);
  }
  &-dark {
    background-color: $gray-900;
    color: $white;
    padding: rem(60) rem(24) rem(72);
    @include media-breakpoint-up(800) {
      padding: rem(40) rem(32) rem(50);
    }
    .event.card {
      @extend %event-dark;
    }
    .events-calendar-cta {
      color: $yellow;
      &:hover {
        border-color: $yellow;
        color: $yellow;
      }
    }
  }
}

.events-heading {
  margin: 0 0 rem(28);
}

.events {
  margin-bottom: rem(-25);
  @include media-breakpoint-up(800) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: rem(-25);
  }
}

.event-wrap {
  display: flex;
  margin-bottom: rem(25);
  width: 100%;
  @include media-breakpoint-up(800) {
    flex: 0 0 50%;
    padding-left: rem(25);
  }
  @include media-breakpoint-up(1200) {
    flex: 0 0 33.333%;
  }
  &:first-child:nth-last-child(2),
  &:last-child:nth-child(2) {
    @include media-breakpoint-up(800) {
      flex: 0 0 50%;
    }
  }
  .event.card {
    flex: 1;
  }
}

.events-calendar-cta.fancy-link {
  display: inline-block;
  margin-top: rem(24);
  margin-right: 0;
}