.breadcrumb {
  color: $gray-700;
  margin-bottom: rem(20);
  @include media-breakpoint-down(799) {
    border-top: 1px solid #EDEDED;
    padding-top: rem(24);
  }
  @include media-breakpoint-up(800) {
    border-bottom: 1px solid #EDEDED;
    padding-bottom: rem(14);
  }
}

.breadcrumb-item {
  line-height: (26 / 13);
  text-transform: uppercase;
  &.breadcrumb--active {
    font-weight: 700;
  }
  &:before {
    margin: 0 rem(5);
  }
  a {
    color: inherit;
    transition: .25s color ease-in-out;
    &:hover {
      color: $red;
    }
  }
  + .breadcrumb-item {
    padding-left: rem(32);
    position: relative;
    &:before {
      content: "";
      border-right: rem(2) solid $gray-500;
      border-bottom: rem(2) solid $gray-500;
      display: block;
      height: rem(7);
      width: rem(7);
      margin: 0;
      padding: 0;
      position: absolute;
      top: 47.5%;
      left: rem(14);
      transform: translate(-50%, -50%) scaleY(.667) rotate(-45deg);
    }
  }
}