<nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
    {% for item in items %}
      {% if not loop.last %}
        <li class="breadcrumb-item">
          <a href="http://idfive.com/">{{item}}</a>
        </li>
      {% else %}
        <li class="breadcrumb-item breadcrumb--active" aria-current="page">{{item}}</li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>