@import "variables";

.section.section-ut_slideshow {
  margin-bottom: rem(15);
  @include media-breakpoint-up(800) {
    margin-bottom: rem(25);
  }
  .page-content & {
    @include media-breakpoint-down(799) {
      margin-right: rem(-24);
      margin-left: rem(-24);
    }
  }
}

.slideshow-bg {
  background-color: $white;
  color: $gray-700;
  padding: 0 rem(24);
  @include media-breakpoint-up(800) {
    padding: 0 rem(35);
  }
  &-dark {
    background-color: $gray-900;
    color: $white;
    padding: 0 rem(24) rem(35);
    @include media-breakpoint-up(800) {
      padding: 0 rem(35) rem(35);
    }
  }
}

.slideshow-nav {
  align-items: center;
  display: flex;
  font-size: rem(17);
  line-height: (26 / 17);
  justify-content: flex-end;
}

.slideshow-nav-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  background-color: transparent;
  border: none;
  color: $red;
  display: flex;
  justify-content: center;
  height: rem(44);
  width: rem(44);
  position: static;
  .slideshow-bg-dark & {
    color: $yellow;
  }
  .icon {
    display: inline-block;
    font-size: rem(17);
  }
}

.slideshow-control-prev:hover,
.slideshow-control-next:hover {
  cursor: pointer;
}

.slideshow-control-prev {
  .icon {
    transform: scale(-1);
  }
}