@import "variables";

.accordion {
  margin: $accordion-margin;
  padding: $accordion-padding;
  > .card {
    border-radius: 0;
    border: $accordion__section-border;
    margin: $accordion__section-margin;
    padding: $accordion__section-padding;
    transition: $accordion__section-transition;
    .card-header {
      border: $accordion__header-border;
      border-radius: $accordion__header-border-radius;
      margin: $accordion__header-margin;
      padding: $accordion__header-padding;
      .btn {
        background: $accordion__label-background;
        border: $accordion__label-border;
        color: $accordion__label-color;
        display: $accordion__label-display;
        font-family: $accordion__label-font-family;
        font-size: $accordion__label-font-size;
        font-weight: $accordion__label-font-weight;
        margin: $accordion__label-margin;
        padding: $accordion__label-padding;
        text-align: $accordion__label-text-align;
        text-decoration: $accordion__label-text-decoration;
        text-transform: $accordion__label-text-transform;
        transform: $accordion__label-transform;
        width: 100%;
        &:hover,
        &:focus {
          background: $accordion__label--hover-background;
          color: $accordion__label--hover-color;
          font-weight: $accordion__label-font-weight;
        }
        &[aria-expanded="true"] {
          background: $accordion__label--active-background;
          color: $accordion__label--active-color;
        }
      }
    }
    .card-body {
      background: $accordion__content-background;
      border: $accordion__content-border;
      color: $accordion__content-color;
      padding: $accordion__content-padding;
    }
  }
}