

<div id="accordion-0" class="accordion">
      <div class="card">
  <div class="card-header" id="accordion-0-header-1">
    <button class="btn" data-toggle="collapse" data-target="#accordion-0-content-1" aria-expanded="false" aria-controls="accordion-0-content-1">
      Accordion 1
    </button>
  </div>
  <div id="accordion-0-content-1" class="collapse" aria-labelledby="accordion-0-header-1">
    <div class="card-body">
      <p>This is the content area of accordion 1</p>
    </div>
  </div>
</div>      <div class="card">
  <div class="card-header" id="accordion-0-header-2">
    <button class="btn" data-toggle="collapse" data-target="#accordion-0-content-2" aria-expanded="false" aria-controls="accordion-0-content-2">
      Accordion 2
    </button>
  </div>
  <div id="accordion-0-content-2" class="collapse" aria-labelledby="accordion-0-header-2">
    <div class="card-body">
      <p>This is the content area of accordion 2</p>
    </div>
  </div>
</div>  </div>
