

<div class="hero">
  <div class="hero-media">
    <img src="../../img/KS_Hero.jpg" alt="News hero alt text">
  </div>
</div>
<div class="container page-content">
  <div class="row justify-content-center">
    <div class="col-800-3">
      <nav class="subnav" aria-label="Sidebar">
  <ul>
    <li class="subnav-parent">
      
      <a href=""><span class="icon icon-chevron-right" aria-hidden="true"></span>Parent Page Title</a>
      <ul>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="" aria-current="page">Immunocompromised Students</a>
          <ul>
            <li><a href="">Child Page Link</a></li>
            <li><a href="">Child Page Link</a></li>
            <li><a href="">Child Page Link</a></li>
          </ul>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>    </div>
    <div class="col-800-9">
      <nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
                  <li class="breadcrumb-item">
          <a href="http://idfive.com/">Home</a>
        </li>
                        <li class="breadcrumb-item breadcrumb--active" aria-current="page">News</li>
            </ol>
</nav>      <h1>News</h1>
      <form class="views-exposed-form" data-drupal-selector="views-exposed-form-articles-block-1" action="/articles" method="get" id="views-exposed-form-articles-block-1" accept-charset="UTF-8">


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'views_exposed_form' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/views/views-exposed-form.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
          <div class="js-form-item form-item js-form-type-textfield form-item-search js-form-item-search"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form_element_label' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' --><label for="edit-search"> Search</label>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'input__textfield' -->
          <!-- FILE NAME SUGGESTIONS:
            * input--textfield.html.twig
            x input.html.twig
          -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
        <input
          data-drupal-selector="edit-search" type="text" id="edit-search" name="search" value="" size="30" maxlength="128" class="form-text"> <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->


        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
          <div class="js-form-item form-item js-form-type-select form-item-field-umdt-ct-article-categories js-form-item-field-umdt-ct-article-categories"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form_element_label' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' --><label for="edit-field-umdt-ct-article-categories"> Category</label>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'select' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->
            <select data-drupal-selector="edit-field-umdt-ct-article-categories" id="edit-field-umdt-ct-article-categories" name="field_umdt_ct_article_categories" class="form-select"> <option value="All" selected="selected">- Any -</option>
            <option value="2">Alumni News</option>
            <option value="3">Faculty News</option>
            <option value="4">Staff News</option>
            <option value="1">Student News</option>
          </select>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->


        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'form_element' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->
          <div class="js-form-item form-item js-form-type-select form-item-field-umdt-ct-article-author js-form-item-field-umdt-ct-article-author"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'form_element_label' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' --><label for="edit-field-umdt-ct-article-author"> Author</label>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element-label.html.twig' -->


          <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'select' -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->
            <select data-drupal-selector="edit-field-umdt-ct-article-author" id="edit-field-umdt-ct-article-author" name="field_umdt_ct_article_author" class="form-select"> <option value="" selected="selected">- Any -</option>
            <option value="12">Carl Jones</option>
            <option value="11">George Bradford</option>
            <option value="13">Jamie Fox</option>
            <option value="10">John Doe</option>
            <option value="14">Nita Simons</option>
          </select>
          <!-- END OUTPUT from 'core/themes/stable/templates/form/select.html.twig' -->


        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/form-element.html.twig' -->


        <!-- THEME DEBUG -->
        <!-- THEME HOOK: 'container' -->
        <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->
          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"> <!-- THEME DEBUG -->
          <!-- THEME HOOK: 'input__submit' -->
          <!-- FILE NAME SUGGESTIONS:
            * input--submit.html.twig
            x input.html.twig
          -->
          <!-- BEGIN OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->
        <input data-drupal-selector="edit-submit-articles" type="submit" id="edit-submit-articles" value="Apply" class="btn btn-primary button js-form-submit form-submit"> <!-- END OUTPUT from 'core/themes/stable/templates/form/input.html.twig' -->

        </div>

        <!-- END OUTPUT from 'core/themes/stable/templates/form/container.html.twig' -->


        <!-- END OUTPUT from 'core/themes/stable/templates/views/views-exposed-form.html.twig' -->


      </form>
      <ul class="feed">
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="../../img/Articles_Feed_Item_1.jpg" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Article Title 1</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="../../img/Articles_Feed_Item_2.jpg" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Article Title 2</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="../../img/Articles_Feed_Item_3.jpg" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Article Title 3</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="../../img/Articles_Feed_Item_1.jpg" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Article Title 4</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="../../img/Articles_Feed_Item_2.jpg" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Article Title 5</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="../../img/Articles_Feed_Item_3.jpg" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Article Title 6</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
      <nav class="pager" role="navigation" aria-labelledby="pagination-heading--mtv2RWOwtQk">
  <ul class="pager__items js-pager__items">
    <li class="pager__item">
      <a href="?page=1" title="Go to page 2">
      <span class="sr-only">
      Page
      </span>2</a>
    </li>
    <li class="pager__item">
      <a href="?page=2" title="Go to page 3">
      <span class="sr-only">
      Page
      </span>3</a>
    </li>
    <li class="pager__item">
      <a href="?page=3" title="Go to page 4">
      <span class="sr-only">
      Page
      </span>4</a>
    </li>
    <li class="pager__item">
      <a href="?page=4" title="Go to page 5">
      <span class="sr-only">
      Page
      </span>5</a>
    </li>
    <li class="pager__item is-active">
      <a href="?page=5" title="Current page">
      <span class="sr-only">
      Current page
      </span>6</a>
    </li>
    <li class="pager__item">
      <a href="?page=6" title="Go to page 7">
      <span class="sr-only">
      Page
      </span>7</a>
    </li>
    <li class="pager__item">
      <a href="?page=7" title="Go to page 8">
      <span class="sr-only">
      Page
      </span>8</a>
    </li>
    <li class="pager__item">
      <a href="?page=8" title="Go to page 9">
      <span class="sr-only">
      Page
      </span>9</a>
    </li>
    <li class="pager__item">
      <a href="?page=9" title="Go to page 10">
      <span class="sr-only">
      Page
      </span>10</a>
    </li>
    <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
    <li class="pager__item pager__item--next">
      <a href="?page=6" title="Go to next page" rel="prev">Next<span class="sr-only">page</span><span class="icon icon-fancy-link-arrow" aria-hidden="true"></span></a>
    </li>
    <li class="pager__item pager__item--last">
      <a href="?page=23" title="Go to last page" rel="prev">Last<span class="sr-only">page</span></a>
    </li>
  </ul>
</nav>    </div>
  </div>
</div>
