

<blockquote class="blockquote blockquote-dark">
	<p>Lorem Ipsum Dolor Sit Amet duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
			<footer class="blockquote-footer">
							<div class="blockquote-portrait">
					<img src="http://via.placeholder.com/300x300" alt="Portrait of Firstname Lastname ’19">
				</div>
						<div class="blockquote-attribution">
				<span class="blockquote-author">Firstname Lastname ’19</span>
									<span class="blockquote-title">Title goes here</span>
							</div>
		</footer>
	</blockquote>

