

<div class="embed-bg embed-bg-dark">
      <figure>
      <div class="embed-responsive embed-responsive-2by1">
        <iframe class="embed-responsive-item" title="Rick Astley - Never Gonna Give You Up (Video)" src="https://www.youtube.com/embed/dQw4w9WgXcQ" allowfullscreen></iframe>
      </div>
      <figcaption>Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut. Nunc vel rhoncus nibh, ut tincidunt turpis.</figcaption>
    </figure>
  </div>
