

<ul class="feed">
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="https://via.placeholder.com/350x233?text=Feed%20Item%201" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Feed Item 1</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="https://via.placeholder.com/350x233?text=Feed%20Item%202" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Feed Item 2</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="https://via.placeholder.com/350x233?text=Feed%20Item%203" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Feed Item 3</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="https://via.placeholder.com/350x233?text=Feed%20Item%204" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Feed Item 4</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
      <li>
      <div class="feed-item">
        <div class="row no-gutters align-items-start">
          <div class="col-12 col-600-4 col-800-12 col-1000-4">
            <div class="feed-item-img">
              <img src="https://via.placeholder.com/350x233?text=Feed%20Item%205" alt="placeholder alt text">
            </div>
          </div>
          <div class="col">
            <div class="feed-item-body">
              <div class="feed-item-date">June 28, 2019</div>
              <h2 class="feed-item-title">
                <a href="https://google.com">Feed Item 5</a>
              </h2>
              <p class="feed-item-description">Fusce vel congue turpis. Suspendisse vel purus ac velit euismod consequat nec quis arcu. Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

