

<div class="home-hero">
  <div class="max-bound">
          <div class="home-hero-media">
        <img src="../../img/Home_Hero.jpg" alt="" />
      </div>
        <div class="home-hero-content">
      <div class="outer-pad">
        <div class="editor-content"><h1>Heading 1 lorem ipsum dolor sit </h1><h2>Subhead style</h2><p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Link text integer.</p><p><a href="" class="btn btn-primary">Button</a></p></div>
      </div>
    </div>
  </div>
</div>
