

<nav class="pager" role="navigation" aria-labelledby="pagination-heading--mtv2RWOwtQk">
  <ul class="pager__items js-pager__items">
    <li class="pager__item">
      <a href="?page=1" title="Go to page 2">
      <span class="sr-only">
      Page
      </span>2</a>
    </li>
    <li class="pager__item">
      <a href="?page=2" title="Go to page 3">
      <span class="sr-only">
      Page
      </span>3</a>
    </li>
    <li class="pager__item">
      <a href="?page=3" title="Go to page 4">
      <span class="sr-only">
      Page
      </span>4</a>
    </li>
    <li class="pager__item">
      <a href="?page=4" title="Go to page 5">
      <span class="sr-only">
      Page
      </span>5</a>
    </li>
    <li class="pager__item is-active">
      <a href="?page=5" title="Current page">
      <span class="sr-only">
      Current page
      </span>6</a>
    </li>
    <li class="pager__item">
      <a href="?page=6" title="Go to page 7">
      <span class="sr-only">
      Page
      </span>7</a>
    </li>
    <li class="pager__item">
      <a href="?page=7" title="Go to page 8">
      <span class="sr-only">
      Page
      </span>8</a>
    </li>
    <li class="pager__item">
      <a href="?page=8" title="Go to page 9">
      <span class="sr-only">
      Page
      </span>9</a>
    </li>
    <li class="pager__item">
      <a href="?page=9" title="Go to page 10">
      <span class="sr-only">
      Page
      </span>10</a>
    </li>
    <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
    <li class="pager__item pager__item--next">
      <a href="?page=6" title="Go to next page" rel="prev">Next<span class="sr-only">page</span><span class="icon icon-fancy-link-arrow" aria-hidden="true"></span></a>
    </li>
    <li class="pager__item pager__item--last">
      <a href="?page=23" title="Go to last page" rel="prev">Last<span class="sr-only">page</span></a>
    </li>
  </ul>
</nav>
