

<div class="hero">
  <div class="hero-media">
    <img src="../../img/KS_Hero.jpg" alt="Profile detail hero alt text">
  </div>
</div>
<div class="container page-content">
  <div class="row justify-content-center">
    <div class="col-12">
      <nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
                  <li class="breadcrumb-item">
          <a href="http://idfive.com/">Home</a>
        </li>
                        <li class="breadcrumb-item">
          <a href="http://idfive.com/">Link</a>
        </li>
                        <li class="breadcrumb-item">
          <a href="http://idfive.com/">People</a>
        </li>
                        <li class="breadcrumb-item breadcrumb--active" aria-current="page">John Doe</li>
            </ol>
</nav>      <h1>John Doe</h1>
      <a href="" class="back-to-link"><span class="icon icon-chevron-right" aria-hidden="true"></span>Back to People</a>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-1000-11">
            <div class="profile">
              <div class="row">
                <div class="col-600-4 col-1000-3">
                  <div class="profile-photo">
                    <img src="../../img/Profiles_Photo_1.jpg" alt="Portrait of John Doe">
                  </div>
                </div>
                <div class="col-600-8 col-1000-9">
                  <div class="row">
                    <div class="col-12">
                      <div class="profile-header">
                        <h2 class="profile-name">John Doe</h2>
                        <div class="profile-title">[Title] [Affiliation], [Title2] [Affiliation2], [Title3] [Affiliation3]</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="profile-bio editor-content"><p>Cras id mauris sed massa ornare porttitor. Sed luctus blandit quam, eget accumsan mi. Ut placerat convallis tellus, vitae egestas eros gravida iaculis. Praesent vehicula pharetra lorem eget porttitor. Curabitur ac condimentum nulla, ac imperdiet lectus. Vestibulum auctor varius tortor, sit amet rutrum mauris cursus vel.</p></div>
                    </div>
                    <div class="col-1000-6">
                      <h3 class="profile-subheading">Contact</h3>
                                              <div><a href="mailto:johndoe@umd.edu">johndoe@umd.edu</a></div>
                                                                    <div>3100F Atlantic Building</div>
                                                                    <div class="profile-phone">
                          <a href="tel:+1555-555-5555,555">
                            <span class="font-weight-bold">555-555-5555</span> ext. 555                          </a>
                        </div>
                                                                    <div>
                          <a href="https://google.com">Website</a>
                        </div>
                                          </div>
                    <div class="col-1000-6">
                      <h3 class="profile-subheading">Department Information</h3>
                      <ul>
                                                  <li><a href="https://google.com">Department Name Here</a></li>
                                                  <li><a href="https://google.com">Department Name Here</a></li>
                                              </ul>
                    </div>
                    <div class="col-12">
                      <h3 class="profile-subheading">Area</h3>
                      <ul>
                                                  <li><a href="https://google.com">Cybersecurity</a></li>
                                                  <li><a href="https://google.com">Networks</a></li>
                                                  <li><a href="https://google.com">System Administration</a></li>
                                              </ul>
                    </div>
                    <div class="col-12">
                      <h3 class="profile-subheading">Courses</h3>
                      <ul>
                                                  <li><a href="https://google.com">Course Name Here lorem ipsum dolor sit amet (Spring 2020)</a></li>
                                                  <li><a href="https://google.com">Course Name Here lorem ipsum dolor sit amet (Fall 2019)</a></li>
                                                  <li><a href="https://google.com">Course Name Here lorem ipsum dolor sit amet (Spring 2019)</a></li>
                                              </ul>
                    </div>
                    <div class="col-12">
                      <h3 class="profile-subheading">Publications</h3>
                                              <h4 class="profile-publication-year">2019</h4>
                        <ul class="profile-publications">
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                  </ul>
                                              <h4 class="profile-publication-year">2018</h4>
                        <ul class="profile-publications">
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                      <li>
                                                              <a href="https://google.com">A. Name</a>,&#32;
                                                              <a href="https://google.com">B. Name</a>,&#32;
                                                              <a href="https://google.com">C. Name</a>,&#32;
                                                            <span class="font-weight-bold">Sed luctus blandit quam, eget accumsan mi.</span>
                            </li>
                                                  </ul>
                                          </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
