

<div class="profile-card card">
  <div class="card-img card-img-top">
    <img src="../../img/Profiles_Photo_1.jpg" alt="Portrait of John Doe">
  </div>
  <div class="card-body">
    <h3 class="card-title">John Doe</h3>
    <div class="profile-card-title">Professor and Co-Director</div>
    <div class="mb-2">
      <a href="tel:+1555-555-5555" class="profile-card-phone">555-555-5555</a>
    </div>
    <div>
      <a href="https://google.com" class="card-cta">View Profile<span class="sr-only"> for John Doe</span></a>
    </div>
  </div>
</div>

