

<div class="hero">
  <div class="hero-media">
    <img src="../../img/KS_Hero.jpg" alt="Profiles hero alt text">
  </div>
</div>
<div class="container page-content">
  <div class="row justify-content-center">
    <div class="col-800-3">
      <nav class="subnav" aria-label="Sidebar">
  <ul>
    <li class="subnav-parent">
      
      <a href=""><span class="icon icon-chevron-right" aria-hidden="true"></span>Parent Page Title</a>
      <ul>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="" aria-current="page">Immunocompromised Students</a>
          <ul>
            <li><a href="">Child Page Link</a></li>
            <li><a href="">Child Page Link</a></li>
            <li><a href="">Child Page Link</a></li>
          </ul>
        </li>
        <li>
          <a href="">Link</a>
        </li>
        <li>
          <a href="">Link</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>    </div>
    <div class="col-800-9">
      <nav aria-label="Breadcrumb">
  <ol class="breadcrumb">
                  <li class="breadcrumb-item">
          <a href="http://idfive.com/">Home</a>
        </li>
                        <li class="breadcrumb-item">
          <a href="http://idfive.com/">Link</a>
        </li>
                        <li class="breadcrumb-item breadcrumb--active" aria-current="page">People</li>
            </ol>
</nav>      <h1>People</h1>
              <div class="mb-5">
          <h2 class="h3">Leadership</h2>
          <div class="row">
                          <div class="col-600-6 col-1000-4">
                <div class="profile-card card">
  <div class="card-img card-img-top">
    <img src="../../img/Profiles_Photo_1.jpg" alt="Portrait of John Doe">
  </div>
  <div class="card-body">
    <h3 class="card-title">John Doe</h3>
    <div class="profile-card-title">Professor and Co-Director</div>
    <div class="mb-2">
      <a href="tel:+1555-555-5555" class="profile-card-phone">555-555-5555</a>
    </div>
    <div>
      <a href="https://google.com" class="card-cta">View Profile<span class="sr-only"> for John Doe</span></a>
    </div>
  </div>
</div>
              </div>
                          <div class="col-600-6 col-1000-4">
                <div class="profile-card card">
  <div class="card-img card-img-top">
    <img src="../../img/Profiles_Photo_2.jpg" alt="Portrait of George Bradford">
  </div>
  <div class="card-body">
    <h3 class="card-title">George Bradford</h3>
    <div class="profile-card-title">Professor and Co-Director</div>
    <div class="mb-2">
      <a href="tel:+1555-555-5555" class="profile-card-phone">555-555-5555</a>
    </div>
    <div>
      <a href="https://google.com" class="card-cta">View Profile<span class="sr-only"> for George Bradford</span></a>
    </div>
  </div>
</div>
              </div>
                      </div>
        </div>
              <div class="mb-5">
          <h2 class="h3">Faculty</h2>
          <div class="row">
                          <div class="col-600-6 col-1000-4">
                <div class="profile-card card">
  <div class="card-img card-img-top">
    <img src="../../img/Profiles_Photo_3.jpg" alt="Portrait of Carl Jones">
  </div>
  <div class="card-body">
    <h3 class="card-title">Carl Jones</h3>
    <div class="profile-card-title">Professor and Co-Director</div>
    <div class="mb-2">
      <a href="tel:+1555-555-5555" class="profile-card-phone">555-555-5555</a>
    </div>
    <div>
      <a href="https://google.com" class="card-cta">View Profile<span class="sr-only"> for Carl Jones</span></a>
    </div>
  </div>
</div>
              </div>
                          <div class="col-600-6 col-1000-4">
                <div class="profile-card card">
  <div class="card-img card-img-top">
    <img src="../../img/Profiles_Photo_4.jpg" alt="Portrait of Jamie Fox">
  </div>
  <div class="card-body">
    <h3 class="card-title">Jamie Fox</h3>
    <div class="profile-card-title">Professor and Co-Director</div>
    <div class="mb-2">
      <a href="tel:+1555-555-5555" class="profile-card-phone">555-555-5555</a>
    </div>
    <div>
      <a href="https://google.com" class="card-cta">View Profile<span class="sr-only"> for Jamie Fox</span></a>
    </div>
  </div>
</div>
              </div>
                          <div class="col-600-6 col-1000-4">
                <div class="profile-card card">
  <div class="card-img card-img-top">
    <img src="../../img/Profiles_Photo_5.jpg" alt="Portrait of Nita Simons">
  </div>
  <div class="card-body">
    <h3 class="card-title">Nita Simons</h3>
    <div class="profile-card-title">Professor and Co-Director</div>
    <div class="mb-2">
      <a href="tel:+1555-555-5555" class="profile-card-phone">555-555-5555</a>
    </div>
    <div>
      <a href="https://google.com" class="card-cta">View Profile<span class="sr-only"> for Nita Simons</span></a>
    </div>
  </div>
</div>
              </div>
                      </div>
        </div>
          </div>
  </div>
</div>
