

<footer class="site-footer" aria-label="Main">
  <div class="site-footer-main">
    <div class="max-bound">
      <nav class="site-footer-nav" aria-label="Footer">
        <ul>
          <li><a href="">Link 1</a></li>
          <li><a href="">Link 2</a></li>
          <li><a href="">Link 3</a></li>
          <li><a href="">Link 4</a></li>
          <li><a href="">Link 5</a></li>
        </ul>
      </nav>
      <div class="site-footer-about">
        <div class="site-footer-logo">
          <img src="../../img/Placeholder_Logo_Dark.svg" alt="Placeholder College logo">
        </div>
        <div class="site-footer-address">
          <strong>Placeholder College</strong><br>
          <span>1234 Street Name, College Park, MD 20742, USA</span><br>
          <a href="tel:+13014051000">301.405.1000</a>
          <span aria-hidden="true">&nbsp;·&nbsp;</span>
          <a href="mailto:email@umd.edu">email@umd.edu</a>
        </div>
        <div class="site-footer-social">
          <ul>
            <li>
              <a href="">
                <span class="sr-only">Visit our Twitter</span>
                <span class="icon icon-twitter" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="sr-only">Visit our Facebook</span>
                <span class="icon icon-facebook" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="sr-only">Visit our Instagram</span>
                <span class="icon icon-instagram" aria-hidden="true"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="sr-only">Visit our Youtube</span>
                <span class="icon icon-youtube" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="site-footer-legal">
    <div class="max-bound">
      <ul>
        <li><a href="">Information for Visitors</a></li>
        <li><a href="">FAQs</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">Careers</a></li>
        <li><a href="">Office of Civil Rights &amp; Sexual Misconduct</a></li>
        <li><a href="">UMD Police Department</a></li>
        <li><a href="">Accessibility</a></li>
        <li><a href="">Policies &amp; Procedures</a></li>
        <li><a href="">Public Records Request</a></li>
      </ul>
    </div>
  </div>
</footer>
