

<div class="slideshow-item">
      <figure>
      <div class="slideshow-image">
        <img src="http://via.placeholder.com/1000x600" alt="placeholder alt text">
      </div>
      <figcaption class="slideshow-image-caption">Photos by John Smith & Jane Adams</figcaption>
    </figure>
    <div class="slideshow-caption">
    <div class="slideshow-caption-title">Slide Title Lorem</div>
    <div class="slideshow-caption-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.</div>
  </div>
</div>
