

<div class="stat-group-bg stat-group-bg-dark">
  <div class="stat-group">
          <div class="stat-wrap">
        <div class="stat">
  <div class="stat-number">36M</div>
  <div class="stat-text">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, nec tortor erat a elemen.</div>
</div>      </div>
          <div class="stat-wrap">
        <div class="stat">
  <div class="stat-number">1600</div>
  <div class="stat-text">Vestibulum rutrum quam vitae fringilla tincidunt. Suspendisse nec tortor urna. Ut laoreet sodales nisi, quis iaculis nulla.</div>
</div>      </div>
          <div class="stat-wrap">
        <div class="stat">
  <div class="stat-number">2890</div>
  <div class="stat-text">Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, sceleris.</div>
</div>      </div>
      </div>
  <div class="stat-group-nav">
    <button class="stat-group-nav-button stat-group-nav-prev" aria-label="View previous stat">
      <span class="sr-only">View previous stat</span>
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
    </button>
    <button class="stat-group-nav-button stat-group-nav-next" aria-label="View next stat">
      <span class="sr-only">View next stat</span>
      <span class="icon icon-chevron-right" aria-hidden="true"></span>
    </button>
  </div>
</div>
