

<table class="table table-stacked table-striped table-dark" data-tablesaw-mode="stack">
  <thead>
    <tr>
              <th>Column One</th>
              <th>Column Two</th>
              <th>Column Three</th>
              <th>Column Four</th>
          </tr>
  </thead>
  <tbody>
          <tr>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
              </tr>
          <tr>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
              </tr>
          <tr>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                  <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
              </tr>
      </tbody>
</table>
